<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB_CONNECTION_ECSTest"
      connectionString="7JrBxYu07vAGKdIp4bIsjmVi1TddUhaDon8+PWzbvpBHkrcZ5TEKLOsG+0/btX+/dVyPf5dOcFiw9lzOs9Td2bRVjrXPzP/g6sQlmyAqyjJUe0VC7YzIzPcoM9wxcZQlbl397IHbLiN0XzNkzlZ59jzIMYMOBaUR34/vlbeETtI="/>
    <add name="DB_CONNECTION_YS"
      connectionString="7JrBxYu07vAGKdIp4bIsjmVi1TddUhaDon8+PWzbvpBHkrcZ5TEKLOsG+0/btX+/5P4koIXrUQ0B+G0sUJgUA42ENJY7Ub8ibZSpoGEacdE9DRhllxABGUms/5bIWXzksRxxT0NUzUz+EnAE/dyiZAYtXtWtmjeuy2mbxlfkkHmKXxQyruBxBUAmkqgBQ8qj"/>
    <add name="DB_CONNECTION_LGHealthy"
      connectionString="7JrBxYu07vAGKdIp4bIsjsRQoRfR8rSk+Zn5O6nm8/T2bTehrAqA+VdfACj7yR8cWWIpCFvetgvt3y38vc/0xzwV52+4MMbk1B24ntdkPIEXUdkvFBD5CEh7jFRewCpqEzKmAaoqGm52z3QdXOgk3CyQVJylPSZq/xHmBsB1SFYfKulq1353CEx1CLhTQs69"/>
    <!--<add name="WCS_DEV" connectionString="uek71ZUcb8hyNitrMk0/kLo0kXJr4ARgIx0mM7pZi5AuOB8jJXN3Vl+x5oAxgzf6WIY74jXF1/afYzgd3GBh9ZER07SEVtp+sAAm/Fmf0xoI1/eeifNcbjhFjMbBc4ikSjyI3YUggq5GMwWs7BGEAEjjr0aqvu9Mrbj0TIG3yJkqQVkcPVW9Wyv4G+p3G1SVD5L2fI2cThfG2evKeaOv3w/jrc/INXEjta1BIwdJ9qHFyQKqDCVtq+iS49Gk2gj+HVoOjwdpJrZJl/mfPBOP/jfkkLwBC2rt+toFx9tWUuOpmHuin5CUdUPzYuJz/iJi" />-->
    <!--AWS-->
    <add name="WCS" connectionString="uek71ZUcb8hyNitrMk0/kLo0kXJr4ARgIx0mM7pZi5AuOB8jJXN3Vl+x5oAxgzf6WIY74jXF1/afYzgd3GBh9ZER07SEVtp+sAAm/Fmf0xoI1/eeifNcbjhFjMbBc4ikSjyI3YUggq5GMwWs7BGEAEjjr0aqvu9Mrbj0TIG3yJkqQVkcPVW9Wyv4G+p3G1SVD5L2fI2cThfG2evKeaOv3w/jrc/INXEjta1BIwdJ9qHFyQKqDCVtq+iS49Gk2gj+HVoOjwdpJrZJl/mfPBOP/jfkkLwBC2rt+toFx9tWUuOpmHuin5CUdUPzYuJz/iJi"/>
    
    <!--121.140.219.159-->
    <!--<add name="WCS" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.27.22.112)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));USER ID=smartwcs;Password=smartwcs1234;Persist Sercurity Info=True;"/>-->
    
    <!--부천 운영 Virtual-->
    <!--<add name="WCS" connectionString="uek71ZUcb8hyNitrMk0/kLo0kXJr4ARgIx0mM7pZi5AuOB8jJXN3Vl+x5oAxgzf6rDTSR+4CuvcECAbdxiK0jVJcQd+TMROgLNNFHD9nWWh+x8RHSianVoMHWRNTgf4abiKrbtCn0obeTRX07B9lhOvvcz82VnBjsg9HRPqRHCRzDebx374FZ1cvYWFmVvwRavhEs5kEpMzuo30O+5C/xgBwe2tRdPC021SM3g7y76FzdSWTuX44LQ6i0Ud8n7tY"/>-->
    <!--부천 운영 1번-->
    <!--<add name="WCS" connectionString="uek71ZUcb8hyNitrMk0/kLo0kXJr4ARgIx0mM7pZi5AuOB8jJXN3Vl+x5oAxgzf6rDTSR+4CuvcECAbdxiK0jbRQXRKXrud2zBi1NEFMLE6igePxphN6v1hx4eYCQLKsfGYtfXqE6AVuQS1XyGvQy695CgoGP5szOwy24+35wM2oCcR8iVRmM6QmK4ukny9XEajVhrWcpNc+n/PrweJWHR9LKSC7NeiHMEX0I8mQtfQFFf/ntLkY5CxYgJKlhooY"/>-->

    <!--양산 운영 Virtual-->
    <!--<add name="WCS" connectionString="uek71ZUcb8hyNitrMk0/kLo0kXJr4ARgIx0mM7pZi5AuOB8jJXN3Vl+x5oAxgzf6UqK6n797V5oM541H5PYfswCyoImCL5JonV6uzBC1BUdOS2i7oIb+5Swb6xOkPKEFTu6KoRzKxdEcBe35FQz9dTxTIzTmY384mCyVWjot5Rmyk2KM2svEDdd/G/Wx1SrOOVchHBTGh0c+oV6vTkMK+PSYR4A8LYjKvHdq3iaYxHZZxLSiFHU2FWiTfzKHxR48" />-->
    <!--양산 운영 1번-->
    <!--<add name="WCS" connectionString="uek71ZUcb8hyNitrMk0/kLo0kXJr4ARgIx0mM7pZi5AuOB8jJXN3Vl+x5oAxgzf6UqK6n797V5oM541H5PYfs4VOZQYiI3qQru01ZNVhzHhGhWfhbl3cIWj/9rLqiIn459H8lV3oHmHPZ5VeYdOKxlP0NnCKhAjnaZRgwYZsVVZk2DPIW52N39kI1k1SH8XF3/G/dzhk9oFlNAuqBqPiiiCp6aFk6nSfE7f07lsOGWqFHY0uLGYNfU5/DT6vyp6d"/>-->
    
  </connectionStrings>
  <appSettings>
    <add key="CompanyCode" value="CP"/>
    <add key="MainDatabase" value="ORACLE"/>
    <add key="AppName" value="WCS"/>
    <add key="DBConnectType_DEV_REAL" value="REAL"/>
    <add key="JsonWebServiceURL_Sort" value="http://13.209.79.88:7070/optimization/sort"/>
    <add key="JsonWebServiceURL_CellSimul" value="http://13.209.79.88:7070/optimization/cellSimulation"/>
    <add key="JsonWebServiceURL_CellOpti" value="http://13.209.79.88:7070/optimization/cellOptimization"/>
    <add key="JsonWebServiceURL_GantryPicking" value="http://10.81.94.124:8080/optimization/gantryPicking"/>
    <add key="JsonWebServiceURL_GantryStocking" value="http://10.81.94.124:8080/optimization/gantryStocking"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="ImageLogoKind" value="CUS"/>
    
    <!--소스 컴파일 경로-->
    <add key="CompilePath" value="C:\Deploy\WCS\bin"/>
    <add key="LocalDeployFileBackup" value="C:\Deploy\Customer"/>
    <!--<add key="ServerdeployPath"   value="C:\Deploy\SMART.WCS" />-->
    <add key="backupPath"   value="D:\Backup\SMART.WCS" />
    <add key="backupTempPath" value="D:\BackupTemp\SMART.WCS" />

    <!--<add key="ServerPath_WCS" value="http://218.50.155.206:7101/DeployFile/WCS" />-->
    <add key="DeployServerPath" value="http://218.50.155.206:7101/Deploy/DeployUpload.aspx" />
    <add key="DeployServerPath_KR"  value="http://218.50.155.206:7101/Deploy/DeployUpload_KR.aspx" />
    <add key="DeployServerPath_Local" value="http://localhost:64500/DeployUpload.aspx" />
    <add key="DeployServerPath_KR_Local"  value="http://localhost:64500/DeployUpload_KR.aspx" />
    
    <add key="SCADA_BC" value="C:\SMART WCS\SCADA Bucheon\SCADA.UI.exe"/>
    <add key="SCADA_YS" value="C:\SMART WCS\SCADA Yangsan\SCADA.UI.exe"/>

    <add key="App_WCS" value="D:\01 WorkSpace\SmartWcs\bin\Debug"/>
    <add key="App_SCADA" value="C:\SMART.WCS\SCADA"/>
    <add key="App_KIOSK" value="C:\SMART.WCS\KIOSK"/>

    <!--X-CAG-Authorization-->
    <add key="HeaderKey" value="GCIbcvmvtp5ZXIjeI27tyRk6ka2NLm8GJvw10woptHg="/>
    <!--AG_CONSUMER_TOKEN access-key=9f9e65fb-4933-45e8-8765-75d947d6a9e7-->
    <add key="HeaderValue" value="zBOXoZKmnZ8QWcYh3iBcdrSSK6P+jt3ZeRBJeFVxvB9nESzSkR9nyJ1/VCuz4JF4+gSJMF7w12ng2xITgXAbZViOcX9Li9dUnCj36bpThsg="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
          type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
          type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>-->
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        
        <binding  name="BasicHttpBinding_ILiveUpdateWebService"
                  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"  maxBufferPoolSize="2147483647"
                  openTimeout="00:10:00"
                  closeTimeout="00:10:00"
                  sendTimeout="00:10:00"
                  receiveTimeout="00:10:00">
        </binding>
        <binding  name="BasicHttpBinding_ILiveUpdateWebService1"
                  maxReceivedMessageSize="2147483647"
                  openTimeout="00:10:00"
                  closeTimeout="00:10:00"
                  sendTimeout="00:10:00"
                  receiveTimeout="00:10:00">
        </binding>
      </basicHttpBinding>

    </bindings>
    <client>
      <endpoint address="http://218.50.155.206:7101/LiveUpdate/LiveUpdateWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveUpdateWebService"
        contract="DeployWebService.ILiveUpdateWebService" name="BasicHttpBinding_ILiveUpdateWebService" />
      <endpoint address="http://localhost:51000/LiveUpdateWebService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveUpdateWebService1"
        contract="LocalDeployWebService.ILiveUpdateWebService" name="BasicHttpBinding_ILiveUpdateWebService1" />
    </client>
  </system.serviceModel>
</configuration>