<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILiveUpdateWebService" />
                <binding name="BasicHttpBinding_ILiveUpdateWebService1" />
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="http://localhost:51000/LiveUpdateWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveUpdateWebService1"
          contract="LocalDeployWebService.ILiveUpdateWebService" name="BasicHttpBinding_ILiveUpdateWebService1" />
        <endpoint address="http://218.50.155.206:7101/LiveUpdate/LiveUpdateWebService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveUpdateWebService"
          contract="DeployWebService.ILiveUpdateWebService" name="BasicHttpBinding_ILiveUpdateWebService" />
      </client>
    </system.serviceModel>
</configuration>